# Nuxt
.nuxt
.output
dist
.data
.nitro
.cache

# Node
node_modules

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.fleet
*.sw?
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Testing
coverage/

# Build artifacts
*.tsbuildinfo
